Repository enjin/platform-core, pull requests merged in 2024-02, with the labels that each got.

#131 [PLA-1579] Update validation rule
  src/GraphQL/Schemas/Primary/Mutations/SetWalletAccountMutation.php
  tests/Feature/GraphQL/Mutations/SetWalletAccountTest.php
Labels: bug, Review effort [1-5]: 2, bug_fix, tests

#132 [PLA-1567] Fix wallet relationship data
  src/Models/Laravel/Traits/EagerLoadSelectFields.php
  src/Services/Database/WalletService.php
Labels: enhancement, Review effort [1-5]: 3

#133 [PLA-1601] Return error when null auth driver is used in production.
  config/enjin-platform.php
  config/graphql.php
  lang/en/error.php
  src/Http/Controllers/QrController.php
  src/Services/Auth/Drivers/NullAuth.php
  tests/Feature/GraphQL/Mutations/RemoveAllAttributesTest.php
  tests/Feature/GraphQL/Mutations/SetWalletAccountTest.php
  tests/Unit/AuthServiceTest.php
Labels: enhancement, bug_fix, Review effort [1-5]: 3

#135 [PLA-1584] Check for collection exists
  src/GraphQL/Schemas/Primary/Traits/HasTransactionDeposit.php
Labels: bug, enhancement, Review effort [1-5]: 2, bug_fix

#136 [PLA-1590] Add support for batch transactions with continueOnFailure.
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchMintMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchTransferMutation.php
  tests/Feature/GraphQL/Mutations/BatchMintTest.php
  tests/Feature/GraphQL/Mutations/BatchTransferTest.php
  tests/Unit/EncodingTest.php
Labels: enhancement, tests, Review effort [1-5]: 3

#137 Add mass pruneable blocks
  config/enjin-platform.php
  database/factories/BlockFactory.php
  src/Models/Laravel/Block.php
  tests/Feature/Commands/PruneTest.php
Labels: enhancement, tests, Review effort [1-5]: 3
