Repository enjin/platform-core, pull requests merged in 2024-08, with the labels that each got.

#216 [PLA-1414] Update translation strings.
  README.md
  lang/en/enum.php
  lang/en/error.php
  lang/en/input_type.php
  lang/en/mutation.php
  lang/en/query.php
  lang/en/type.php
  lang/en/validation.php
  lang/ja/mutation.php
  lang/ja/validation.php
  schema/schema.gql
  src/GraphQL/Schemas/Primary/Mutations/MarkAndListPendingTransactionsMutation.php
  src/GraphQL/Schemas/Primary/Mutations/VerifyAccountMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchMintMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchSetAttributeMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchTransferBalanceMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BatchTransferMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/BurnMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/CreateTokenMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/DestroyCollectionMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/OperatorTransferTokenMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/RemoveAllAttributesMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/RemoveCollectionAttributeMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/RemoveTokenAttributeMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Mutations/SimpleTransferTokenMutation.php
  src/GraphQL/Schemas/Primary/Substrate/Queries/GetBlocksQuery.php
  src/GraphQL/Types/Input/Substrate/MintRecipientInputType.php
  src/GraphQL/Types/Input/Substrate/TokenIdEncoders/Erc1155EncoderInputType.php
  src/GraphQL/Types/Input/Substrate/TransferRecipientInputType.php
  src/GraphQL/Types/Scalars/DateTimeType.php
  src/GraphQL/Types/Substrate/BalancesType.php
  src/GraphQL/Types/Substrate/RoyaltyType.php
  src/GraphQL/Types/Substrate/TokenAccountApprovalType.php
  tests/Feature/GraphQL/Mutations/BatchMintTest.php
  tests/Feature/GraphQL/Mutations/CreateTokenTest.php
Labels: documentation, enhancement, Review effort [1-5]: 3

#219 [PLA-1927] Adds deposits for Marketplace and FuelTanks
  src/Enums/Substrate/TransactionDeposit.php
  src/GraphQL/Schemas/Primary/Traits/HasTransactionDeposit.php
  tests/Unit/DepositFeeTest.php
Labels: enhancement, Review effort [1-5]: 2, tests

#222 [PLA-1931] Fix checking for running latest version
  src/Support/helpers.php
Labels: bug, Review effort [1-5]: 1, Bug fix

#221 [PLA-1930] Add bulk filter to GetWallet query
  src/GraphQL/Types/Input/Substrate/TokenFilterInputType.php
  src/GraphQL/Types/Substrate/WalletType.php
  src/Models/Laravel/Traits/EagerLoadSelectFields.php
  tests/Feature/GraphQL/Queries/GetWalletTest.php
  tests/Feature/GraphQL/Resources/GetWallet.graphql
Labels: enhancement, tests, Review effort [1-5]: 3

#225 [PLA-1954] Rename migration to change its position in the running order.
  database/migrations/2023_03_22_100000_create_syncable_table.php
Labels: enhancement, Review effort [1-5]: 2

#227 [PLA-1956] Updates RetryTransaction to remove public key if equal to wallet daemon
  src/GraphQL/Schemas/Primary/Substrate/Mutations/RetryTransactionsMutation.php
Labels: bug, enhancement, Review effort [1-5]: 2

#229 [PLA-1966] Add network to GetPendingEvents
  database/migrations/2024_08_27_083621_add_network_to_pending_events_table.php
  lang/en/query.php
  lang/en/type.php
  src/CoreServiceProvider.php
  src/Events/PlatformBroadcastEvent.php
  src/GraphQL/Schemas/Primary/Queries/GetPendingEventsQuery.php
  src/GraphQL/Types/Global/PendingEventType.php
  src/Models/Laravel/PendingEvent.php
  tests/Feature/GraphQL/Queries/GetPendingEventsTest.php
Labels: enhancement, tests, Review effort [1-5]: 3

#226 [PLA-1948] Add table name to select.
  src/GraphQL/Schemas/Primary/Substrate/Queries/GetTokensQuery.php
Labels: Review effort [1-5]: 1, Bug fix

#230 [PLA-1968] Prevent duplicate wallet public key
  src/GraphQL/Schemas/Primary/Mutations/SetWalletAccountMutation.php
  tests/Feature/GraphQL/Mutations/SetWalletAccountTest.php
Labels: bug, Review effort [1-5]: 2, tests, Bug fix

#231 [PLA-1963] Convert uri attribute to string if it's encoded as hex for metadata.
  src/CoreServiceProvider.php
  src/Models/Laravel/Token.php
  src/Support/Hex.php
  tests/Feature/GraphQL/Queries/GetTokenTest.php
  tests/Unit/HexTest.php
Labels: tests, Review effort [1-5]: 3, Bug fix
